Django==1.8.2
Markdown==2.6.2
Pillow==2.9.0
PyJWT==1.3.0
PyYAML==3.11
amqp==1.4.6
anyjson==0.3.3
arrow==0.5.4
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.19
boto==2.36.0
celery==3.1.17
certifi==2015.04.28
decorator==3.4.2
django-debug-toolbar==1.3.0
django-extensions==1.5.2
django-extra-fields==0.3
-e git+https://github.com/jamaalscarlett/django-push-notifications.git@06792931b5c23a9d5d85c908fcffd7c51259755b#egg=django_push_notifications-master
django-rest-swagger==0.3.2
django-suit==0.2.13
django-uuidfield==0.5.0
djangorestframework==3.1.3
drf-extensions==0.2.6
fake-factory==0.5.0
geopy==1.10.0
itsdangerous==0.24
jsonfield==1.0.3
kombu==3.0.24
mixer==5.1.2
numpy==1.9.2
oauthlib==0.7.2
pika==0.9.14
pilkit==1.1.12
psycopg2==2.5.4
py==1.4.30
python-dateutil==2.4.2
python-openid==2.2.5
python-social-auth==0.2.10
pytz==2015.2
requests==2.7.0
requests-oauthlib==0.5.0
retry==0.9.1
rollbar==0.9.11
six==1.9.0
sqlparse==0.1.15
tornado==4.2.1
uWSGI==2.0.10
ujson==1.33
wsgiref==0.1.2
