# -*- coding: utf-8 -*-

from os.path import dirname, join, realpath

from django.conf.locale.en import formats as en_formats
from raven import fetch_git_sha

SITE_ROOT = dirname(realpath(__file__))

ADMINS = (
    ('...', '...'),
)
AUTH_USER_MODEL = 'auth.User'
AUTHENTICATION_BACKENDS = (
    'django.contrib.auth.backends.ModelBackend',
    'social.backends.facebook.FacebookOAuth2',
    'social.backends.google.GoogleOAuth2',
    'social.backends.instagram.InstagramOAuth2',
    'social.backends.linkedin.LinkedinOAuth2',
    'social.backends.twitter.TwitterOAuth',
)
AWS_ACCESS_KEY_ID = '...'
AWS_BUCKET = '...'
AWS_SECRET_ACCESS_KEY = '...'
DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'HOST': '...',
        'NAME': '...',
        'PASSWORD': '...',
        'PORT': '...',
        'USER': '...',
    }
}
BROKER = '...'
DEBUG = True
DEFAULT_FROM_EMAIL = '...'
EMAIL_BACKEND = 'django.core.mail.backends.dummy.EmailBackend'
en_formats.DATETIME_FORMAT = 'Y-m-d H:i:s'
FILE_UPLOAD_MAX_MEMORY_SIZE = 1099511627776
INSTALLED_APPS = (
    'api',
    'debug_toolbar',
    'suit',
    'django.contrib.admin',
    'django.contrib.admindocs',
    'django.contrib.admindocs.urls',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.gis',
    'django.contrib.messages',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.staticfiles',
    'raven.contrib.django.raven_compat',
    'rest_framework',
    'rest_framework.authtoken',
    'rest_framework_swagger',
    'social.apps.django_app.default',
)
LOGGING = {
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse',
        },
        'require_debug_true': {
            '()': 'django.utils.log.RequireDebugTrue',
        },
    },
    'handlers': {
        'console': {
            'class': 'logging.StreamHandler',
            'filters': (
                'require_debug_true',
            ),
            'level': 'DEBUG',
        },
        'mail_admins': {
            'class': 'django.utils.log.AdminEmailHandler',
            'filters': (
                'require_debug_false',
            ),
            'level': 'ERROR',
        }
    },
    'loggers': {
        'django.db.backends': {
            'handlers': (
                'console',
            ),
            'level': 'DEBUG',
        },
        'django.request': {
            'handlers': (
                'mail_admins',
            ),
            'level': 'ERROR',
            'propagate': True,
        },
    },
    'version': 1,
}
MANAGERS = ADMINS
MEDIA_ROOT = join(SITE_ROOT, 'media')
MEDIA_URL = '/media/'
MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'api.middleware.Exception',
    'api.middleware.Session',
)
PUSH_NOTIFICATIONS_SETTINGS = {
    'APNS_CERTIFICATE': '...',
    'APNS_HOST': '...',
    'GCM_API_KEY': '...',
}
RAVEN_CONFIG = {
    'dsn': '...',
    'release': fetch_git_sha(dirname(__file__)),
}
REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'api.authentication.Authentication',
    ),
    'DEFAULT_PAGINATION_CLASS': 'rest_framework.pagination.PageNumberPagination',
    'DEFAULT_PARSER_CLASSES': (
        'rest_framework.parsers.FormParser',
        'rest_framework.parsers.JSONParser',
    ),
    'DEFAULT_PERMISSION_CLASSES': (
        'rest_framework.permissions.DjangoModelPermissionsOrAnonReadOnly',
    ),
    'DEFAULT_RENDERER_CLASSES': (
        'rest_framework.renderers.JSONRenderer',
    ),
    'PAGE_SIZE': 100,
}
ROOT_URLCONF = 'urls'
SECRET_KEY = '...'
SEPARATOR = '...'
SERVER_EMAIL = '...'
SITE_ID = 1
SOCIAL_AUTH_FACEBOOK_EXTRA_DATA = [
    ('about', 'about',),
    ('access_token', 'access_token',),
    ('age_range', 'age_range',),
    ('bio', 'bio',),
    ('birthday', 'birthday',),
    ('context', 'context',),
    ('cover', 'cover',),
    ('currency', 'currency',),
    ('devices', 'devices',),
    ('education', 'education',),
    ('email', 'email',),
    ('expires', 'expires',),
    ('favorite_athletes', 'favorite_athletes',),
    ('favorite_teams', 'favorite_teams',),
    ('first_name', 'first_name',),
    ('gender', 'gender',),
    ('hometown', 'hometown',),
    ('id', 'id',),
    ('inspirational_people', 'inspirational_people',),
    ('installed', 'installed',),
    ('is_verified', 'is_verified',),
    ('languages', 'languages',),
    ('last_name', 'last_name',),
    ('link', 'link',),
    ('locale', 'locale',),
    ('location', 'location',),
    ('middle_name', 'middle_name',),
    ('name', 'name',),
    ('name_format', 'name_format',),
    ('political', 'political',),
    ('quotes', 'quotes',),
    ('relationship_status', 'relationship_status',),
    ('religion', 'religion',),
    ('significant_other', 'significant_other',),
    ('third_party_id', 'third_party_id',),
    ('timezone', 'timezone',),
    ('updated_time', 'updated_time',),
    ('username', 'username',),
    ('verified', 'verified',),
    ('website', 'website',),
    ('work', 'work',),
]
SOCIAL_AUTH_FACEBOOK_KEY = '...'
SOCIAL_AUTH_FACEBOOK_PROFILE_EXTRA_PARAMS = {
    'fields': ','.join([
        'about',
        'age_range',
        'bio',
        'birthday',
        'context',
        'cover',
        'currency',
        'devices',
        'education',
        'email',
        'favorite_athletes',
        'favorite_teams',
        'first_name',
        'gender',
        'hometown',
        'id',
        'inspirational_people',
        'installed',
        'is_verified',
        'languages',
        'last_name',
        'link',
        'locale',
        'location',
        'middle_name',
        'name',
        'name_format',
        'political',
        'quotes',
        'relationship_status',
        'religion',
        'significant_other',
        'third_party_id',
        'timezone',
        'updated_time',
        'verified',
        'website',
        'work',
    ])
}
SOCIAL_AUTH_FACEBOOK_SCOPE = [
    'email',
    'public_profile',
    'user_about_me',
    'user_birthday',
    'user_education_history',
    'user_location',
    'user_photos',
    'user_status',
    'user_website',
    'user_work_history',
]
SOCIAL_AUTH_FACEBOOK_SECRET = '...'
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = '...'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = '...'
SOCIAL_AUTH_INSTAGRAM_KEY = '...'
SOCIAL_AUTH_INSTAGRAM_SECRET = '...'
SOCIAL_AUTH_LINKEDIN_OAUTH2_EXTRA_DATA = [
    ('apiStandardProfileRequest', 'api_standard_profile_request',),
    ('currentShare', 'current_share',),
    ('emailAddress', 'email',),
    ('firstName', 'first_name',),
    ('formattedName', 'formatted_name',),
    ('formattedPhoneticName', 'formatted_phonetic_name',),
    ('headline', 'headline',),
    ('id', 'id',),
    ('industry', 'industry',),
    ('lastName', 'last_name',),
    ('location', 'location',),
    ('maidenName', 'maiden_name',),
    ('numConnections', 'num_connections',),
    ('numConnectionsCapped', 'num_connections_capped',),
    ('phoneticFirstName', 'phonetic_first_name',),
    ('phoneticLastName', 'phonetic_last_name',),
    ('pictureUrl', 'picture_url',),
    ('pictureUrls::(original)', 'picture_urls::(original)',),
    ('positions', 'positions',),
    ('publicProfileUrl', 'public_profile_url',),
    ('siteStandardProfileRequest', 'site_standard_profile_request',),
    ('specialties', 'specialties',),
    ('summary', 'summary',),
]
SOCIAL_AUTH_LINKEDIN_OAUTH2_FIELD_SELECTORS = [
    'api-standard-profile-request',
    'current-share',
    'email-address',
    'first-name',
    'formatted-name',
    'formatted-phonetic-name',
    'headline',
    'id',
    'industry',
    'last-name',
    'location',
    'maiden-name',
    'num-connections',
    'num-connections-capped',
    'phonetic-first-name',
    'phonetic-last-name',
    'picture-url',
    'picture-urls::(original)',
    'positions',
    'public-profile-url',
    'site-standard-profile-request',
    'specialties',
    'summary',
]
SOCIAL_AUTH_LINKEDIN_OAUTH2_KEY = '...'
SOCIAL_AUTH_LINKEDIN_OAUTH2_SECRET = '...'
SOCIAL_AUTH_LINKEDIN_OAUTH2_SCOPE = [
    'r_basicprofile',
    'r_emailaddress',
]
SOCIAL_AUTH_PIPELINE = [
    'social.pipeline.social_auth.social_details',
    'social.pipeline.social_auth.social_uid',
    'social.pipeline.social_auth.auth_allowed',
    'social.pipeline.social_auth.social_user',
    'social.pipeline.partial.save_status_to_session',
    'api.pipeline.create_user',
    'social.pipeline.social_auth.associate_user',
    'social.pipeline.social_auth.load_extra_data',
    'social.pipeline.user.user_details',
]
SOCIAL_AUTH_PROTECTED_USER_FIELDS = [
    'email',
    'photo',
    'first_name',
    'last_name',
    'date_of_birth',
    'gender',
    'location',
    'description',
    'phone',
]
SOCIAL_AUTH_TWITTER_KEY = '...'
SOCIAL_AUTH_TWITTER_SECRET = '...'
SOCIAL_AUTH_URL_NAMESPACE = 'social'
SOCIAL_AUTH_USER_MODEL = 'api.User'
STATIC_ROOT = join(SITE_ROOT, 'static')
STATIC_URL = '/static/'
STATICFILES_DIRS = ()
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
    'django.contrib.staticfiles.finders.DefaultStorageFinder',
    'django.contrib.staticfiles.finders.FileSystemFinder',
)
SUIT_CONFIG = {
    'LIST_PER_PAGE': 50
}
SWAGGER_SETTINGS = {
    'api_key': '',
    'api_path': '/',
    'api_version': '1.0',
    'doc_expansion': 'list',
    'enabled_methods': (
        'delete',
        'get',
        'patch',
        'post',
        'put',
    ),
    'exclude_namespaces': (),
    'info': {
        'contact': '...',
        'description': '',
        'license': '',
        'licenseUrl': '',
        'termsOfServiceUrl': '',
        'title': 'Tellecast',
    },
    'is_authenticated': False,
    'is_superuser': False,
    'permission_denied_handler': None,
    'token_type': 'Token',
}
TEMPLATE_CONTEXT_PROCESSORS = (
    'django.contrib.auth.context_processors.auth',
    'django.contrib.messages.context_processors.messages',
    'django.core.context_processors.debug',
    'django.core.context_processors.i18n',
    'django.core.context_processors.media',
    'django.core.context_processors.request',
    'django.core.context_processors.static',
    'django.core.context_processors.tz',
    'social.apps.django_app.context_processors.backends',
)
TEMPLATE_DEBUG = DEBUG
TEMPLATE_DIRS = ()
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
    'django.template.loaders.eggs.Loader',
)
TEST_RUNNER = 'django.test.runner.DiscoverRunner'
TIME_ZONE = '...'
TORNADO = {
    'address': '...',
    'port': ...,
}
USE_ETAGS = True
USE_L10N = True
WSGI_APPLICATION = 'wsgi.application'
