#left-nav li,
#result_list th,
#result_list th.text,
#result_list th .text a,
#result_list td,
#result_list td a {
    white-space: nowrap !important;
}

.table-overview th {
    text-align: left !important;
    white-space: nowrap !important;
}

#result_list .column-description,
#result_list .column-device_id,
#result_list .column-first_name,
#result_list .column-key,
#result_list .column-last_name,
#result_list .column-location,
#result_list .column-netloc,
#result_list .column-phone,
#result_list .column-photo,
#result_list .column-point,
#result_list .column-registration_id,
#result_list .column-slot,
#result_list .column-status,
#result_list .column-string_original,
#result_list .column-string_preview,
#result_list .column-string,
#result_list .column-target,
#result_list .column-title,
#result_list .column-title,
#result_list .column-token,
#result_list .column-type,
#result_list .column-url,
#result_list .column-value,
#result_list .field-description,
#result_list .field-device_id,
#result_list .field-first_name,
#result_list .field-key,
#result_list .field-last_name,
#result_list .field-location,
#result_list .field-netloc,
#result_list .field-phone,
#result_list .field-photo,
#result_list .field-point,
#result_list .field-registration_id,
#result_list .field-slot,
#result_list .field-status,
#result_list .field-string_original,
#result_list .field-string_preview,
#result_list .field-string,
#result_list .field-target,
#result_list .field-title,
#result_list .field-title,
#result_list .field-token,
#result_list .field-type,
#result_list .field-url,
#result_list .field-value {
    width: 1px !important;
}

#result_list .action-checkbox,
#result_list .action-checkbox-column,
#result_list .column-expired_at,
#result_list .column-favorited_at,
#result_list .column-inserted_at,
#result_list .column-is_suppressed,
#result_list .column-pinned_at,
#result_list .column-saved_at,
#result_list .column-signed_in_at,
#result_list .column-timestamp,
#result_list .column-updated_at,
#result_list .column-viewed_at,
#result_list .field-expired_at,
#result_list .field-favorited_at,
#result_list .field-inserted_at,
#result_list .field-inserted_at,
#result_list .field-is_active,
#result_list .field-is_casting,
#result_list .field-is_editable,
#result_list .field-is_signed_in,
#result_list .field-is_staff,
#result_list .field-is_superuser,
#result_list .field-is_suppressed,
#result_list .field-is_visible,
#result_list .field-pinned_at,
#result_list .field-saved_at,
#result_list .field-signed_in_at,
#result_list .field-timestamp,
#result_list .field-updated_at,
#result_list .field-user_destination_is_hidden,
#result_list .field-user_source_is_hidden,
#result_list .field-viewed_at {
    text-align: center !important;
    width: 1px !important;
}

#result_list .column-accuracies_horizontal,
#result_list .column-accuracies_vertical,
#result_list .column-bearing,
#result_list .column-id,
#result_list .column-position,
#result_list .field-accuracies_horizontal,
#result_list .field-accuracies_vertical,
#result_list .field-bearing,
#result_list .field-id,
#result_list .field-position {
    text-align: right !important;
    width: 1px !important;
}
