#left-nav li,
#result_list th,
#result_list th.text,
#result_list th .text a,
#result_list td,
#result_list td a {
    white-space: nowrap !important;
}

.table-overview th {
    text-align: left !important;
    white-space: nowrap !important;
}

#result_list .action-checkbox,
#result_list .action-checkbox-column,
#result_list .field-is_active,
#result_list .field-is_casting,
#result_list .field-is_editable,
#result_list .field-is_signed_in,
#result_list .field-is_staff,
#result_list .field-is_superuser,
#result_list .field-is_visible,
#result_list .field-user_destination_is_hidden,
#result_list .field-user_source_is_hidden,
#result_list .field-value,
#result_list .is_active-column .text,
#result_list .is_active-column a,
#result_list .is_casting-column .text,
#result_list .is_casting-column a,
#result_list .is_editable-column .text,
#result_list .is_editable-column a,
#result_list .is_signed_in-column .text,
#result_list .is_signed_in-column a,
#result_list .is_staff-column .text,
#result_list .is_staff-column a,
#result_list .is_superuser-column .text,
#result_list .is_superuser-column a,
#result_list .is_visible-column .text,
#result_list .is_visible-column a,
#result_list .user_destination_is_hidden-column .text,
#result_list .user_destination_is_hidden-column a,
#result_list .user_source_is_hidden-column .text,
#result_list .user_source_is_hidden-column a,
#result_list .value-column .text,
#result_list .value-column a {
    text-align: center !important;
}

#result_list .accuracies_horizontal-column .text,
#result_list .accuracies_horizontal-column a,
#result_list .accuracies_vertical-column .text,
#result_list .accuracies_vertical-column a,
#result_list .attachments_-column .text,
#result_list .attachments_-column a,
#result_list .bearing-column .text,
#result_list .bearing-column a,
#result_list .field-accuracies_horizontal,
#result_list .field-accuracies_vertical,
#result_list .field-attachments_,
#result_list .field-bearing,
#result_list .field-id,
#result_list .field-master_tell,
#result_list .field-master_tells_,
#result_list .field-position,
#result_list .field-slave_tells_,
#result_list .field-users_,
#result_list .id-column .text,
#result_list .id-column a,
#result_list .master_tell-column .text,
#result_list .master_tell-column a,
#result_list .master_tells_-column .text,
#result_list .master_tells_-column a,
#result_list .position-column .text,
#result_list .position-column a,
#result_list .slave_tells_-column .text,
#result_list .slave_tells_-column a,
#result_list .users_-column .text,
#result_list .users_-column a {
    text-align: right !important;
}
